@use "../globals" as *;
@use "../parts/common" as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.greet{
  display: flex;
  & > p {
  
  align-items: center;
  }
}



.header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  justify-content: space-between;

  &__inner {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end; /* リストを右寄せにする */
    margin-left: auto; /* 左側の余白を自動調整 */
  }

  .logo {
    width: 100px;
    font-weight: bold;
  }

  &__li {
    & > a {
      display: flex;
      text-decoration: none;
      color: $cWhite; /* Example color */
      align-items: center;
      padding: 0 1.5rem;
      text-transform: uppercase;
      font-weight: 300; /* Not px for font-weight */
      font-size: 0.83rem;

      &:hover {
        color: $cTiffany;
      }
    }
  }

  .mobile-menu__hamburger {
    padding: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;

    span {
      display: block;
      width: 30px;
      height: 2px;
      background-color: $cTiffany;
      margin: 7.5px 0;
      transition: transform 0.4s ease;

      &:nth-child(1) {
        transform-origin: left;
      }

      &:nth-child(2) {
        transform-origin: center;
      }

      &:nth-child(3) {
        transform-origin: right;
      }
    }
  }
}

.profile {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
    justify-content: space-between;
    background-color: rgba(96, 203, 180, 0.4);
    margin: 160px 15px;

    @include mq(md) {
      padding: 50px;
    }

    @include mq(lg) {
      margin: 150px;
    }
  }

  &__img {
    height: 300px;
    @extend .mb-sm;

    @include mq(md) {
      flex-basis: 47%;
    }

    @include mq(lg) {
      height: 400px;
    }
    & > img {
      opacity: 1;
      object-fit: cover;
      width: 100%;
      height: 100%;

      border: 1px solid $cTiffany;
    }
  }

  &__texts {
    @extend .pb-sm;

    @include mq(md) {
      position: flex;
      align-items: center;
      flex-basis: 47%;
    }
  }

  &__title {
    position: relative;
  }

  &__description {
    @include mq(lg) {
      margin-bottom: 40px;
    }
  }
}

.languages {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(lg) {
      margin: 150px;
    }
  }

  &__main-title {
    margin-bottom: 20px;
  }

  &__sub-title {
    margin-bottom: 15px;
    padding-top: 20px;

    display: flex;
    justify-content: center;
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__icons a {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
  }
}
