@use "../globals" as *;
@use "../parts/common" as *;

// *,
// *::before,
// *::after {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

.greet {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 35px;
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
  }
}

.header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  justify-content: space-between;

  &__inner {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end; /* リストを右寄せにする */
    margin-left: auto; /* 左側の余白を自動調整 */
  }

  .logo {
    width: 100px;
    font-weight: bold;
  }

  &__li {
    & > a {
      display: flex;
      text-decoration: none;
      color: $cWhite; /* Example color */
      align-items: center;
      padding: 0 1.5rem;
      text-transform: uppercase;
      font-weight: 300; /* Not px for font-weight */
      font-size: 0.83rem;

      &:hover {
        color: $cTiffany;
      }
    }
  }

  .mobile-menu__hamburger {
    padding: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;

    span {
      display: block;
      width: 30px;
      height: 2px;
      background-color: $cTiffany;
      margin: 7.5px 0;
      transition: transform 0.4s ease;

      &:nth-child(1) {
        transform-origin: left;
      }

      &:nth-child(2) {
        transform-origin: center;
      }

      &:nth-child(3) {
        transform-origin: right;
      }
    }
  }
}

.profile {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
    justify-content: space-between;
    background-color: rgba(96, 203, 180, 0.4);
    margin: 160px 15px;

    @include mq(md) {
      padding: 50px;
    }

    @include mq(lg) {
      margin: 150px;
    }
  }

  &__img {
    height: 300px;
    @extend .mb-sm;

    @include mq(md) {
      flex-basis: 47%;
    }

    @include mq(lg) {
      height: 400px;
    }
    & > img {
      opacity: 1;
      object-fit: cover;
      width: 100%;
      height: 100%;

      border: 1px solid $cTiffany;
    }
  }

  &__texts {
    @extend .pb-sm;

    @include mq(md) {
      position: flex;
      align-items: center;
      flex-basis: 47%;
    }
  }

  &__title {
    position: relative;
  }

  &__description {
    @include mq(lg) {
      margin-bottom: 40px;
    }
  }
}

.languages {
  @extend .content-width;
  @extend .mb-lg;
  background-color: rgba(6, 171, 221, 0.1);

  &__item {
    margin-bottom: 60px;
  }

  &__inner {
    display: flex;
    flex-direction: colum;
    align-items: center;
    justify-content: space-between;

    @include mq(lg) {
      margin: 60px;
    }
  }

  &__main-title {
    margin-bottom: 20px;
  }

  &__sub-title {
    margin-bottom: 15px;
    padding-top: 20px;

    display: flex;
    justify-content: center;
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__icons a {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
  }
}

.uni {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
  }

  &__item {
    flex-basis: 50%;
    padding: 10px;

    & > img {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.contact {
  @extend .content-width;
  @extend .mb-lg;

  &__title {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $cTiffany;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
  }

  &__item {
    overflow: hidden;
    margin-bottom: 20px;

    & > .label {
      float: left;
      margin-right: 20px;
      width: 135px;
      border-left: 3px solid $cTiffany;
      padding-left: 10px;
    }
  }

  &__input {
    float: left;
    width: 300px;

    &[type="text"],
    &[type="email"] {
      border: solid 1px $cTiffany;
      border-radius: 5px;
      padding: 10px;
      font-size: 15px;
    }
  }

  &__inputsf {
    border: 1px solid $cTiffany;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    height: 160px;
    width: 300px;
    font-size: 15px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;


    input[type="submit"] {
      border: none;
      background-color: $cTiffany;
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 5px;
      font-size: 17px;
      margin: 0 5px;
      box-shadow: 1px 1px 2px $cWhite;
      cursor: pointer;
    }

    input[type="reset"] {
      border: none;
      background-color: #90e5ce;
      padding: 10px 20px;
      font-weight: bold;
      border-radius: 5px;
      font-size: 17px;
      margin: 0 5px;
      box-shadow: 1px 1px 2px $cWhite;
      cursor: pointer;
    }
  }
}

.footer {
  @extend .content-width;
  padding: 60px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &__logo {
    font-weight: bold;
  }

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;    
  }

  &__ul {
    @extend .flex;
    list-style: none;
  }

  &__li {
    margin: 10px;
    
    @include mq(md) {
      margin-left: 0;
      margin-right: 30px;
    }

    & > a {
      text-decoration: none;
      color:#cee4de;

      &:hover {
        color: $cTiffany;
      }
    }
  }

  
}
