@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
  color: white;
  background-color: black;
  z-index: 1;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.mb-sm, .profile__img {
  margin-bottom: 16px !important;
}

.mb-lg, .profile, .languages, .uni, .contact {
  margin-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .mb-lg, .profile, .languages, .uni, .contact {
    margin-bottom: 150px !important;
  }
}

.pb-sm, .profile__texts {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

.content-width, .profile, .languages, .uni, .contact, .footer {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.flex, .profile__inner, .uni__inner, .footer__nav, .footer__ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .flex, .profile__inner, .uni__inner, .footer__nav, .footer__ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.purple {
  color: rgba(22, 182, 194, 0.1333333333);
}

#main-content {
  position: relative;
  z-index: 0;
}

.font-sm, .sub-title {
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  .font-sm, .sub-title {
    font-size: 16px;
  }
}

.font-md {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-md {
    font-size: 19px;
  }
}

.font-lr {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-lr {
    font-size: 23px;
  }
}

.font-lg, .main-title {
  font-size: 25px;
}
@media screen and (min-width: 960px) {
  .font-lg, .main-title {
    font-size: 36px;
  }
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  color: #535353;
}

#container {
  position: relative;
  z-index: 10;
  background-color: black;
}

.greet {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.greet__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.greet__text {
  font-size: 35px;
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: black;
  margin-bottom: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  justify-content: space-between;
}
.header.hidden {
  display: none;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 600px) {
  .header__nav {
    display: block;
  }
}
.header__inner {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end; /* リストを右寄せにする */
  margin-left: auto; /* 左側の余白を自動調整 */
}
.header .logo {
  width: 100px;
  font-weight: bold;
}
.header__li > a {
  display: flex;
  text-decoration: none;
  color: white; /* Example color */
  align-items: center;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300; /* Not px for font-weight */
  font-size: 0.83rem;
}
.header__li > a:hover {
  color: #29c99e;
}

.profile__inner {
  justify-content: space-between;
  background-color: rgba(96, 203, 180, 0.4);
  margin: 160px 15px;
}
@media screen and (min-width: 600px) {
  .profile__inner {
    padding: 50px;
  }
}
@media screen and (min-width: 960px) {
  .profile__inner {
    margin: 150px;
  }
}
.profile__img {
  height: 300px;
}
@media screen and (min-width: 600px) {
  .profile__img {
    flex-basis: 47%;
  }
}
@media screen and (min-width: 960px) {
  .profile__img {
    height: 400px;
  }
}
.profile__img > img {
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border: 1px solid #29c99e;
}
@media screen and (min-width: 600px) {
  .profile__texts {
    position: flex;
    align-items: center;
    flex-basis: 47%;
  }
}
.profile__title {
  position: relative;
}
@media screen and (min-width: 960px) {
  .profile__description {
    margin-bottom: 40px;
  }
}

.languages {
  background-color: rgba(6, 171, 221, 0.1);
}
.languages__item {
  margin-bottom: 60px;
}
.languages__inner {
  display: flex;
  flex-direction: colum;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 960px) {
  .languages__inner {
    margin: 60px;
  }
}
.languages__main-title {
  margin-bottom: 20px;
}
.languages__sub-title {
  margin-bottom: 15px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.languages__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.languages__icons a {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
}

.uni__item {
  flex-basis: 50%;
  padding: 10px;
}
.uni__item > img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.uni__btn {
  margin-top: 30px;
  text-align: center;
  flex-basis: 100%;
}

.contact__title {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #29c99e;
}
.contact__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}
.contact__item {
  overflow: hidden;
  margin-bottom: 20px;
}
.contact__item > .label {
  float: left;
  margin-right: 20px;
  width: 135px;
  border-left: 3px solid #29c99e;
  padding-left: 10px;
}
.contact__input {
  float: left;
  width: 300px;
}
.contact__input[type=text], .contact__input[type=email] {
  border: solid 1px #29c99e;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}
.contact__inputsf {
  border: 1px solid #29c99e;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  height: 160px;
  width: 300px;
  font-size: 15px;
}
.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
.contact__button input[type=submit] {
  border: none;
  background-color: #29c99e;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 17px;
  margin-left: 55px;
  box-shadow: 1px 1px 2px white;
  cursor: pointer;
}
.contact__button input[type=reset] {
  border: none;
  background-color: #90e5ce;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 17px;
  margin: 0 10px;
  box-shadow: 1px 1px 2px white;
  cursor: pointer;
}

.footer {
  padding: 60px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__logo {
  font-weight: bold;
}
.footer__nav {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footer__ul {
  list-style: none;
}
.footer__li {
  margin: 10px;
}
@media screen and (min-width: 600px) {
  .footer__li {
    margin-left: 0;
    margin-right: 30px;
  }
}
.footer__li > a {
  text-decoration: none;
  color: #cee4de;
}
.footer__li > a:hover {
  color: #29c99e;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
}
.mobile-menu__main.visible {
  display: block;
}
.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 20, 66, 0.429);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  cursor: pointer;
}
.mobile-menu__main {
  padding: 0;
  perspective: 2000px;
  transform-style: preserve-3d;
  display: none;
}
.mobile-menu__item {
  list-style: none;
  display: block;
  transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  transition: transform 0.3s, opacity 0.2s;
}
.mobile-menu__link {
  display: block;
  margin-top: 30px;
  text-decoration: none;
  color: white;
}
.mobile-menu__link :hover {
  color: #29c99e;
}
.mobile-menu__btn {
  background-color: unset;
  outline: none !important;
  border: none;
  cursor: pointer;
}
.mobile-menu__btn span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #29c99e;
  margin: 7.5px 0;
  transition: transform 0.4s ease;
}
.mobile-menu__btn span:nth-child(1) {
  transform-origin: left;
}
.mobile-menu__btn span:nth-child(2) {
  transform-origin: center;
}
.mobile-menu__btn span:nth-child(3) {
  transform-origin: right;
}

.menu-open#content {
  transform: translate(-200px, 60px);
  transition: all 0.5s;
  box-shadow: 0 20px 30px -10px rgba(255, 255, 255, 0.5);
}
.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}
.menu-open .mobile-menu__item {
  transform: none;
}
.menu-open .mobile-menu > span {
  display: block;
}

.mobile-main-title {
  font-weight: 600;
  font-size: 25px;
}
.mobile-main-title > i {
  margin-right: 10px;
}

#particles-js {
  top: 0;
  left: 0;
  height: 100vh; /* 画面の高さいっぱいに広がる */
  width: 100vw; /* 画面の幅いっぱいに広がる */
  z-index: -1; /* 背面に配置 */
  background-size: cover;
}
#particles-js canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
  background-color: black;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
}
.btn.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn.slide-bg::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #29c99e;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: -1;
}
.btn.slide-bg:hover {
  color: white;
}
.btn.slide-bg:hover::before {
  transform: none;
}

.greet__text span {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  transform: translateY(-50px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.greet__text span:first-child {
  animation-delay: 0.7s;
}
.greet__text span:last-child {
  animation-delay: 0.5s;
}

@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    opacity: 0;
  }
  20% {
    transform: translateY(0px);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    opacity: 1;
  }
  80% {
    transform: translateY(0px);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 100%);
    opacity: 0;
  }
}
.animate-title.inview {
  opacity: 1;
}
.animate-title.inview .char {
  display: inline-block;
  animation-name: kf-animate-chars;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.animate-title.inview .char:nth-child(1) {
  animation-delay: 0.05s;
}
.animate-title.inview .char:nth-child(2) {
  animation-delay: 0.1s;
}
.animate-title.inview .char:nth-child(3) {
  animation-delay: 0.15s;
}
.animate-title.inview .char:nth-child(4) {
  animation-delay: 0.2s;
}
.animate-title.inview .char:nth-child(5) {
  animation-delay: 0.25s;
}
.animate-title.inview .char:nth-child(6) {
  animation-delay: 0.3s;
}
.animate-title.inview .char:nth-child(7) {
  animation-delay: 0.35s;
}
.animate-title.inview .char:nth-child(8) {
  animation-delay: 0.4s;
}
.animate-title.inview .char:nth-child(9) {
  animation-delay: 0.45s;
}
.animate-title.inview .char:nth-child(10) {
  animation-delay: 0.5s;
}
.animate-title.inview .char:nth-child(11) {
  animation-delay: 0.55s;
}
.animate-title.inview .char:nth-child(12) {
  animation-delay: 0.6s;
}
.animate-title.inview .char:nth-child(13) {
  animation-delay: 0.65s;
}
.animate-title.inview .char:nth-child(14) {
  animation-delay: 0.7s;
}
.animate-title.inview .char:nth-child(15) {
  animation-delay: 0.75s;
}
.animate-title.inview .char:nth-child(16) {
  animation-delay: 0.8s;
}
.animate-title.inview .char:nth-child(17) {
  animation-delay: 0.85s;
}
.animate-title.inview .char:nth-child(18) {
  animation-delay: 0.9s;
}
.animate-title.inview .char:nth-child(19) {
  animation-delay: 0.95s;
}
.animate-title.inview .char:nth-child(20) {
  animation-delay: 1s;
}
.animate-title.inview .char:nth-child(21) {
  animation-delay: 1.05s;
}
.animate-title.inview .char:nth-child(22) {
  animation-delay: 1.1s;
}
.animate-title.inview .char:nth-child(23) {
  animation-delay: 1.15s;
}
.animate-title.inview .char:nth-child(24) {
  animation-delay: 1.2s;
}
.animate-title.inview .char:nth-child(25) {
  animation-delay: 1.25s;
}
.animate-title.inview .char:nth-child(26) {
  animation-delay: 1.3s;
}
.animate-title.inview .char:nth-child(27) {
  animation-delay: 1.35s;
}
.animate-title.inview .char:nth-child(28) {
  animation-delay: 1.4s;
}
.animate-title.inview .char:nth-child(29) {
  animation-delay: 1.45s;
}
.animate-title.inview .char:nth-child(30) {
  animation-delay: 1.5s;
}
.animate-title.inview .char:nth-child(31) {
  animation-delay: 1.55s;
}
.animate-title.inview .char:nth-child(32) {
  animation-delay: 1.6s;
}
.animate-title.inview .char:nth-child(33) {
  animation-delay: 1.65s;
}
.animate-title.inview .char:nth-child(34) {
  animation-delay: 1.7s;
}
.animate-title.inview .char:nth-child(35) {
  animation-delay: 1.75s;
}
.animate-title.inview .char:nth-child(36) {
  animation-delay: 1.8s;
}
.animate-title.inview .char:nth-child(37) {
  animation-delay: 1.85s;
}
.animate-title.inview .char:nth-child(38) {
  animation-delay: 1.9s;
}
.animate-title.inview .char:nth-child(39) {
  animation-delay: 1.95s;
}
.animate-title.inview .char:nth-child(40) {
  animation-delay: 2s;
}
.animate-title.inview .char:nth-child(41) {
  animation-delay: 2.05s;
}
.animate-title.inview .char:nth-child(42) {
  animation-delay: 2.1s;
}
.animate-title.inview .char:nth-child(43) {
  animation-delay: 2.15s;
}
.animate-title.inview .char:nth-child(44) {
  animation-delay: 2.2s;
}
.animate-title.inview .char:nth-child(45) {
  animation-delay: 2.25s;
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.cover-slide {
  position: relative;
  overflow: hidden;
}
.cover-slide.inview::after {
  opacity: 1;
  animation-name: kf-cover-slide;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes kf-cover-slide {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}
.img-zoom {
  opacity: 0;
}
.inview .img-zoom {
  opacity: 1;
  animation-name: kf-img-show;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */